<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="style/pagWeb/prueba.css">
    <title>Catalago</title>
</head>
<body>
    <header>
        <!--Contenido del Encabezado!-->
    </header>

    <!--Agregar tarjetas-->
    <article class="cnt-cards"></article>
    <!--Template de Cards-->
    <figure class="cardCnt" id="tmplCards">
        <div class="cnt-elmnts">
            <div class="jeje"></div>
            <img/>
            <h2></h2>
            <figcaption></figcaption>
        </div>
    </figure>

</body>
<script src="js/pagWeb/prueba.js"></script>
</html>