<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="style/pagWeb/Index.css">

    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <h1>Zapateria</h1>
        </header>

        <!--Show cards-->
        <article class="cnt-cards"></article>

        <!--modal click description of each cards-->
        <section class="modal">
            <button class="btn-close">Cerrar</button>
            <article class="cnt-modal">
                <template id="tmpl_mdl">                              <!--plantilla del modal-->
                    <!--left content images-->
                    <div class="left-cnt-imgs">  
                        
                        <!--Galeria de Imagenes del Producto-->
                        <div class="left-imgs-glry">                          <!--Conjunto de imagenes del producto-->
                           
                            <!--tres imagnes-->
                            <div class="Imgs-glry">              
                                <div>
                                    <img id="left-Img-1"/>
                                </div>
                                <div>
                                    <img id="left-Img-2"/>
                                </div>
                                <div>
                                    <img id="left-Img-3"/>
                                </div>
                            </div>

                            <!--Contenido Imagen Principal-->
                            <div class="Img-main">                <!--Contenido de la Imagen Principal del Producto-->
                                <img id="left-Img-main"/>
                            </div>
                        </div>

                        <div class="info">
                            <h2 id="left-name"></h2>                <!--titulo del producto-->
                            <div id="lft-leyend"></div>      <!--Leyenda descriptiva del producto-->
                            <div id="lft-Dtls"></div>        <!--Listado de Detalles del Producto-->
                        </div>
                       
                    </div>                               <!--contenido de lado izq imagenes-->
                        
                    <!--right content product-->
                    <div class="right-cnt-prdct">              <!--contenido de lado derecho cnt del producto-->        
                        <div class="rght-cnt-1">
                            <!--<h2></h2>-->  <!--name product-->
                            <!--<p></p>-->    <!--price product-->
                        </div>
                        
                        <div class="rght-cnt-2">
                        </div> <!--Tallas product-->
                        <div class="rght-cnt-3"></div> <!--Cantidad/ add carrito-->
                        <div class="rght-cnt-4"></div> <!--Publicidad-->
                    </div> 
                          
                </template>
            </article>
        </section>

        <!--Template de cartas-->
        <template id="template">
            <figure class="card">
                <div class="cnt-elmnts">
                    <img/>
                    <h2></h2>
                    <figcaption></figcaption>
                </div>
            </figure>
        </template>
    </main>
</body>
<script src="js/pagWeb/Index.js"></script>
</html>