<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="style/pagWeb/Index.css">

    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <h1>Zapateria</h1>
        </header>

        <article class="cnt-cards"></article>

        <!--Template de cartas-->
        <template id="template">
            <figure class="card">
                <img>
                <h2></h2>
                <figcaption></figcaption>
            </figure>
        </template>
    </main>
</body>
<script src="js/pagWeb/Index.js"></script>
</html>